div {
    max-width: 1600px;
}

#content {
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.book, .join {
    background-color: green;
}

.book:hover, .join:hover {
    background-color: aqua;
}

#background {
    background-color: rgb(160, 56, 160);
}

.msg {
    background-color: blue;
}

footer {
    background-color: yellow;
}

.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    

footer p {
    font-size: 1.2em;
}    
          
footer p a:hover {
    text-decoration: underline;
}    